@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
    display: flex;
    background-color: #FFFFFF;
}

.heading-container{
    margin: 0px 62px;
    display: flex;
    padding-top: 62px;
    align-items: center;
}

.heading{
    font-size: 112px;
    margin-left: auto;
    margin-right: auto;
}

.update-buttons{
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.button-payment{
    background: #F7A5FF;
    font-weight: 800;
    width: 100%;
}

.button-role{
    background: #5891FF;
    font-weight: 800;
    width: 100%;
}

.content-table{
    width: 95%;
    border-collapse: collapse;
    margin: 52px auto;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    background: #5891FF;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 52px;
}

.content-table th,
.content-table td{
    font-size: 32px;
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    color: #3E65B0;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #5891FF;
}

.close-buttonn {
    background: #5891FF;
    border: none;
    font-size: 52px;
    color: white;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .heading-container{
        margin: 0px;
        padding: 32px 32px 0px 32px;
    }
    .heading{
        font-size: 22px;
    }

    .content-table thead{
        display: none;
    }

    .content-table{
        width: 90%;
    }
    
    .content-table tbody, .content-table tr, .content-table td{
        display: block;
        width: 100%;
    }

    .content-table tr{
        margin-bottom: 15px;
    }

    .content-table td{
        font-size: 12px;
    }

    .close-buttonn{
        width: fit-content;
        height: fit-content;
        font-size: 12px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1219px) {
    .heading-container{
        margin: 0px;
        padding: 32px 32px 0px 32px;
    }

    .heading{
        font-size: 28px;
    }

    .content-table thead{
        display: none;
    }

    .content-table{
        width: 90%;
    }
    
    .content-table tbody, .content-table tr, .content-table td{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .content-table tr{
        margin-bottom: 15px;
    }

    .content-table td{
        font-size: 18px;
    }

    .close-buttonn{
        width: fit-content;
        height: fit-content;
        font-size: 18px;
    }
  }

  @media screen and (min-width: 1220px) and (max-width: 1920px) {
    .heading{
        font-size: 52px;
    }

    .close-buttonn{
        font-size: 22px;
    }
    
    .content-table th,
    .content-table td{
        font-size: 18px;
        padding: 12px 15px;
    }

    .button-payment{
        font-size: 18px;
    }

    .button-role{
        font-size: 18px;
    }
}

  @media screen and (min-width: 1921px) {
    .heading{
        font-size: 82px;
    }

    .close-buttonn{
        font-size: 38px;
    }
    
    .content-table th,
    .content-table td{
        font-size: 28px;
        padding: 12px 15px;
    }

    .button-payment{
        font-size: 28px;
    }

    .button-role{
        font-size: 28px;
    }
  }