.container{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.realtime-video{
  width: 38%;
  border-radius: 32px;
  border: #F7A5FF 30px;
}

.detected-container{
  display: flex;
  margin: 0px;
  padding: 62px;
  width: 100%;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
}

.functions-container{
  margin: 0px;
  width: 50%;
  height: fit-content;
  display: flex;
  gap: 62px;
  padding: 0px 122px;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  width: fit-content;
  height: fit-content;
  margin: 0px 120px;
  font-size: 62px;
  align-content: center;
  justify-content: center;
}

.result{
  width: fit-content;
  height: fit-content;
  font-size: 120px;
  font-weight: bolder;
  align-content: center;
  justify-content: center;
}

h2{
  margin: 0px;
  color: #3E65B0;
  width: fit-content;
  height: fit-content;
}

p{
  color: #3E65B0;
  font-size: 50px;
  font-weight: bolder;
}

.button{
  height: fit-content;
  width: 100%;
  padding: 16px 0px;
  margin: 0px;
  border: 0px;
  font-size: 52px;
  font-family: "Lora", serif; 
  background: #5891FF;
}

.camera-selection{
  width: 100%;
  height: fit-content;
  padding: 12px;
  color: #3E65B0;
  display: flex;
  gap: 52px;
  background: #FFFFFF;
  text-align: center; 
  font-family: "Lora", serif;
}

.camera-selectionn{
  width: 100%;
  height: fit-content;
  font-size: 38px;
  padding: 12px;
  border-width: 2px;
  border: 1;
  border-color: #5891FF;
  color: #3E65B0;
  background: #FFFFFF;
  flex-grow: 1;
  text-align: center;
  font-family: "Lora", serif;
}

.option-label{
  font-size: 38px;
  font-weight: 800;
  font-family: "Lora", serif;
}

.history-container{
  width: 100%;
}

.history-text{
  width: 100%;
  padding: 0px;
  font-size: 82px;
  flex-grow: 1;
  margin: 0px;
  text-align: center;
}

.history-grid{
  margin: 32px;
  gap: 32px;
  width: fit-content;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.history-image {
  width: 310px;
  height: auto;
  border-radius: 8px;
  margin: 5px;
}

.history-result-text{
  font-size: 52px;
}

.history-result-time{
  font-size: 38px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.horizontal-line{
  border: none;
  height: 3px;
  background: #3E65B0;
}

@media screen and (max-width: 768px) {
  .detected-container{
    padding: 32px;
    gap: 0px;
    flex-direction: column;
  }

  .cam-logo{
    width: 100%;
    height: auto;
    margin: 0px auto;
  }

  .title{
    width: fit-content;
    font-size: 16px;
    margin: 32px 0px 0px;
  }
  
  .result{
    font-size: 28px;
  }

  .functions-container{
    width: 100%;
    margin: 0px 12px;
    padding: 0px;
    gap: 32px;
  }
  
  .option-label{
    font-size: 16px;
  }

  .camera-selection{
    gap: 12px;
    width: 80%;
    padding: 0px;
    flex-direction: column;
  }

  .camera-selectionn{
    font-size: 16px;
  }

  .button{
    width: 80%;
    font-size: 16px;
    padding: 10px 0px;
    height: fit-content;
  }

  .history-container{
    padding: 32px;
  }

  .history-text{
    font-size: 16px;
  }

  .history-image{
    width: 100px;
  }

  .history-result-text{
    font-size: 16px;
  }

  .history-result-time{
    font-size: 12px;
  }

  .realtime-video{
    width: 50%;
    margin: 0px auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1219px) {
  .detected-container{
    padding: 32px;
    gap: 0px;
    flex-direction: column;
  }

  .cam-logo{
    width: 100%;
    height: auto;
    margin: 0px auto;
  }

  .title{
    width: fit-content;
    font-size: 28px;
    margin: 32px 0px 0px;
  }
  
  .result{
    font-size: 52px;
  }

  .functions-container{
    width: 100%;
    margin: 0px 12px;
    padding: 0px;
    gap: 32px;
  }
  
  .option-label{
    font-size: 28px;
  }

  .camera-selection{
    gap: 12px;
    width: 80%;
    padding: 0px;
    flex-direction: column;
  }

  .camera-selectionn{
    font-size: 28px;
  }

  .button{
    width: 80%;
    font-size: 28px;
    padding: 10px 0px;
    height: fit-content;
  }

  .history-container{
    padding: 32px;
  }

  .history-text{
    font-size: 28px;
    text-align: center;
  }

  .history-image{
    width: 120px;
  }

  .history-result-text{
    font-size: 28px;
  }

  .history-result-time{
    font-size: 22px;
  }

  .realtime-video{
    width: 50%;
    margin: 0px auto;
  }
}

@media screen and (min-width: 1220px) and (max-width: 1920px) {
  .detected-container{
    padding: 52px;
  }

  .functions-container{
    padding: 52px;
  }

  .title{
    font-size: 28px;
  }

  .result{
    font-size: 52px;
  }

  .button{
    font-size: 28px;
  }

  .option-label{
    font-size: 28px;
  }

  .camera-selectionn{
    font-size: 28px;
  }

  .realtime-video{
    width: 35%;
    height: auto;
  }

  .history-container{
    padding: 52px 52px 0px 52px;
  }

  .history-text{
    font-size: 28px;
  }

  .history-image{
    width: 220px;
    height: auto;
  }

  .history-result-text{
    font-size: 28px;
  }

  .history-result-time{
    font-size: 22px;
  }
}

@media screen and (min-width: 1921px) {
  .detected-container{
    padding: 52px;
  }

  .functions-container{
    padding: 52px;
  }

  .title{
    font-size: 38px;
  }

  .result{
    font-size: 82px;
  }

  .button{
    font-size: 38px;
  }

  .option-label{
    font-size: 38px;
  }

  .camera-selectionn{
    font-size: 38px;
  }

  .button{
    font-size: 38px;
  }

  .realtime-video{
    width: 35%;
    height: auto;
  }

  .history-container{
    padding: 52px 52px 0px 52px;
  }

  .history-text{
    font-size: 38px;
  }

  .history-image{
    width: 220px;
    height: auto;
  }

  .history-result-text{
    font-size: 38px;
  }

  .history-result-time{
    font-size: 32px;
  }
}
